<link rel="stylesheet" type="text/css" href="mystyle.css">
<h2> Login Page </h2>

<div class="myform" id="stylized">
  <%= form_for :session, :url => sessions_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %> <br/>

    <%= f.label :password %>
    <%= f.password_field :password %> <br/>

    <button type="submit">Sign-in</button>
  <% end %>
</div>
